@keyframes fadePixelatedIn {
  0% {
    filter: blur(20px); /* Initial pixelation */
    opacity: 0; /* Start with the logo invisible */
  }
  100% {
    filter: blur(0); /* Clear pixelation */
    opacity: 1; /* Fully visible logo */
  }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1f2023;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
  }
  
  #logo {
    width: 80vw; /* 50% of the viewport width */
    max-width: 600px; /* Set a max width */
    min-width: 200px; /* Set a min width */
    animation: fadePixelatedIn 4s ease forwards; /* Apply the fadePixelatedIn animation over 5 seconds */
  }